@import '~antd/dist/antd.css';

.main-layout .logo {
  width: 100%;
  padding: 32px;
  margin-bottom: 5px;
  background: url(../public/thaitrade_logo.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-navi-blue {
  background-color: #013f83 !important;
}

.bg-blue {
  background-color: #2e69f6 !important;
}

.bg-red {
  background-color: #d22127 !important;
}

.bg-gray {
  background-color: #99a4bf !important;
}

.bg-white {
  background-color: #fff !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.btn-dark {
  border-color: #2C3E50;
  background: #2C3E50;
}

.btn-dark:hover, .btn-dark:active, .btn-dark:focus {
  border-color: #537292;
  background: #537292;
}

.main-sider .ant-menu-item-selected {

}

.main-header {
  padding: 0 1rem;
}

.modal-xl {
  top: -50px !important;
}

.ant-badge.badge-large .ant-badge-status-dot {
  top: -15px;
  padding: 10px;
}

.ant-modal .ant-modal-header {
  border-radius: 20px 20px 0 0;
}

.ant-modal .ant-modal-content {
  border-radius: 20px;
}
